html {
  background: #f8f8f8;
}

.container {
  /* padding-top: 50px; */
  /* border: 2px dotted red; */
}

.flex {
  display: flex;
}

.spacer {
  /* border: 1px solid red; */
  margin: 40px 0;
}

.container h1 {
  margin-bottom: 10px;
}

.card p {
  color: #4a4a4a !important;
}

.form-style {
  padding: 3rem;
  margin-top: 3rem;
}

.smiley {
  font-size: 20px;
}

.center-nav-text {
  flex-grow: 1;
  justify-content: center !important;
}

.center-nav-text>* {
  margin: 0 1rem;
}

.navbar {
  padding: 20px 0;
}

a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover {
  background: none !important;
  color: white;
}

.top-nav-item {
  color: white;
  margin-right: 20px;
}

.adjust-40-up {
  transform: translateY(-100px);
}

/* Cards ---------- */
/* .card h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.card-footer-item {
  background: navajowhite;
} */

/* ------------------*/
/* Microphone
/* ----------------- */

.mic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#interim {
  padding: 1em;
  margin: 1em;
  width: 700px;
}

.success {
  padding: 20px 0;
  font-style: italic;
  font-weight: bold;
}

/* mic button */

.mic-button {
  display: inline-block;
	font-size: 18px;
	color: white;
	padding: 10px 30px;  
	/* box-shadow:	0px 1px 3px 0px rgba(0, 0, 0, .3); */
  cursor: pointer;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}
.toggled {
	float: right;
  margin: 40px;
  width: 130px;
  height: 130px;
  font: 13px/118px 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  animation: shadow-pulse 1s infinite;
   background: #00d1b2;
   border: none;
}

.toggled span {
  margin-left: -8px;
}

*:focus {
    outline: 0;
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}

/* ----------- */
/* Home
/* ----------- */
.navbar {
  background-color: transparent;
}

.hero {
  background: url('./img/wallpaper.jpg');
  height: 920px;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-top: -100px;
}

.hero-group {
  margin: 0 auto;
  /* max-width: 500px;
  padding: 150px 50px; */
  text-align: center;
  margin-top: 25vh;
}

.hero svg {
  position: absolute;
  bottom: 0;
  left: 0;
}

.hero h1 {
  margin: 0;
  color: white;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  line-height: 1.2;
  opacity: 0;
  animation: heroAnimation;
  animation-duration: 3s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);

}

.hero p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  line-height: 1.5;
  animation: heroAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
  opacity: 0;
}


@keyframes heroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}



/* MEDIA QUERIES */
@media (max-width: 1060px){
  .card-group {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 720px){
  .card-group {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 640px){
  .hero-group {
    padding: 100px 20px;
  }
  
  .hero h1 {
    font-size: 40px;
  }

  .hero p {
    font-size: 24px;
  }
}

section .cards {
 border: 1px solid white;
}

.cta {
  background: #030326;
}

.cta .title,
.cta .subtitle {
  color: white;
}

.cta .button {
  background: #5069fc;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: none;
}

.is-primary {
  background-color: #5069fc !important;
}

button {
  border: none;
}

a {
  outline: none;
}

/* nav bg */
.dark {
  background: rgba(3, 3, 38, .3);
}

/* modal */
/* Modal */
.modal {
  position: fixed;
  top: 50;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-button {
  margin: 10px 40px;
}

.textarea{
  margin-top: 10px;
}
