html {
  background: #f8f8f8;
}

.container {
  /* padding-top: 50px; */
  /* border: 2px dotted red; */
}

.flex {
  display: flex;
}

.spacer {
  /* border: 1px solid red; */
  margin: 40px 0;
}

.container h1 {
  margin-bottom: 10px;
}

.card p {
  color: #4a4a4a !important;
}

.form-style {
  padding: 3rem;
  margin-top: 3rem;
}

.smiley {
  font-size: 20px;
}

.center-nav-text {
  flex-grow: 1;
  justify-content: center !important;
}

.center-nav-text>* {
  margin: 0 1rem;
}

.navbar {
  padding: 20px 0;
}

a.navbar-item:focus,
a.navbar-item:focus-within,
a.navbar-item:hover {
  background: none !important;
  color: white;
}

.top-nav-item {
  color: white;
  margin-right: 20px;
}

.adjust-40-up {
  transform: translateY(-100px);
}

/* Cards ---------- */
.card h1 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.card-footer-item {
  background: navajowhite;
}

/* ------------------*/
/* Microphone
/* ----------------- */

.mic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#interim {
  padding: 1em;
  margin: 1em;
  width: 700px;
}

.success {
  padding: 20px 0;
  font-style: italic;
  font-weight: bold;
}

/* mic button */

.mic-button {
  display: inline-block;
	font-size: 18px;
	color: white;
	padding: 10px 30px;  
	/* box-shadow:	0px 1px 3px 0px rgba(0, 0, 0, .3); */
  cursor: pointer;
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}
.toggled {
	float: right;
  margin: 40px;
  width: 130px;
  height: 130px;
  font: 13px/118px 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  animation: shadow-pulse 1s infinite;
   background: #00d1b2;
   border: none;
}

.toggled span {
  margin-left: -8px;
}

*:focus {
    outline: 0;
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
  }
}


 .gradient-1 {
  background-image: linear-gradient(
    90deg,
    #9647ff,
    #9449fe 1.8%,
    #924bfe 3.8%,
    #8755f9 15.2%,
    #8557f8 17.1%,
    #7e5df6 22%,
    #7b60f4 24.3%,
    #7962f4 25.7%,
    #7368f1 30.4%,
    #6a70ed 36.3%,
    #6673ec 38.3%,
    #6773ec 38.9%,
    #6574ec 38.9%,
    #5c7de8 44.8%,
    #5782e6 48.4%,
    #4e8ae2 53.7%,
    #488fe0 57.1%,
    #4593de 59.6%,
    #4196dd 62%,
    #16bdcc 95.1%,
    #13bfcb
  ) !important;
} 

.dark-purple-gradient {
  background-image: linear-gradient(90deg,
  #20123a 20%,
  #281346 40%,
  #271a4c 60%,
  #2f1859 80%) !important;
}

.dark-purple-gradient h1,
.dark-purple-gradient h2 {
  color: white;
  opacity: 1 !important;
}

/* Section 1 */
.stars1 {
  position: fixed;
  background: url('./img/stars-bg.svg');
  background-repeat: repeat-x;
  width: 100%;
  height: 100vh;
  /* z-index: 0; */
}

/* Section 2 */
.section-2 {
  background: #031425;
  color: white;
}

.section-2 h1,
.section-2 h2 {
  color: white;
  background: #031425;
  padding:20px;
}

/* Section 3 */
.hero-home-3 {
  background: black;
  padding: 50px 0 0 0;
}

.hero-home-2 h1,
.hero-home-2 h2,
.hero-home-3 h1,
.hero-home-3 h2 {
  color: white;
  text-align: center;
}

.home-mic-section {
  text-align: center;
  padding: 30px 0;
}

.placeholder {
  max-width: 50%;
  margin: 0 auto;
}

.placeholder-2 {
  max-width: 80%;
  float: right;
}

/* Dashboard */
.table-header,
.td-crud-buttons {
  background: #dbdbdb !important;
}

.table .td-dream-name {
  width: 200px;
}

.table .td-dream-name,
.table .td-dream-text {
  font-weight: bold;
}

.microphone-btn {
  margin-bottom: 50px;
}



/* Login/Signup form */
.account-form {
  padding: 0 0 10px 0;
}


/* Modal */
.modal {
  position: fixed;
  top: 50;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-button {
  margin: 10px 40px;
}

.textarea{
  margin-top: 10px;
}


/* parallax */
.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* Base */
.parallax__layer--base {
  transform: translateZ(0);
   background-image: linear-gradient(90deg,
  #20123a 20%,
  #281346 40%,
  #271a4c 60%,
  #2f1859 80%) !important;
  color: white;
}

.parallax__layer--base .title {
color: white;
text-align: center;
}

.parallax__layer--base .subtitle {
color: white;
text-align: center;
}


/* back */
.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
  background-color: #031425;
  background: url('./img/stars-bg.svg') repeat; 
  /* background-size: contain;  */
  opacity: .25;
}
.parallax__layer--back .title {
color: yellow;
}

/* deep */
.parallax__layer--deep {
  transform: translateZ(-2px) scale(3);
  background: url('./img/starry.svg') repeat; 
  opacity: .6;
}

.parallax__layer--deep .title {
/* color: red; */
}

.parallax__group {
  position: relative;
  height: 100vh;
  transform-style: preserve-3d;
}

/* Home */
.audio-gif {
margin: 0 auto;
text-align: center;
}

.parallax__group h1 {
  /* border: 1px solid red; */
  margin-top: 30px;
}

.left-side {
  padding: 30px 100px;
}

.right-side {
  width: 60%;
}

.parallax h1 {
  font-weight: 8px;
  font-weight: bold;
  line-height: 35px;
}

.subtitle  {
  font-size: 24px;
  line-height: 35px;
  color: white;
}

.parallax .title,
.parallax strong {
  color: white !important;
}

.trans {
  background: black !important;
}

.first-slide h1 {
  margin-top: 20vh;
 
}

footer{
  background: #eee !important;
}

.home {
  background: black;
}

/* Floating boxes */

.right-side {
  position: relative;
  /* border: 1px solid red; */
}
.box-1 {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 0px;
  left: 0;
  font-size: 200px;
  color: white;
  animation: animateBox1 infinite;
  animation-duration: 5s;
}
.box-2 {
  width: 200px;
  height: 200px;
  position: absolute;
  top: 10px;
  left: 200px;
  font-size: 200px;
   color: gray;
   animation: animateBox2 infinite;
   animation-duration: 7s;
}
.box-3 {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 20px;
  left: 390px;
  font-size: 200px;
  color: darkgrey;
  animation: animateBox3 infinite;
  animation-duration: 6s;
}

/* Animation */
@keyframes animateBox1 {
 0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
@keyframes animateBox2 {
   0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
@keyframes animateBox3 {
   0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}